@import "tailwindcss";


body{
  margin:0;
  background-color: #0B2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  font-family: Karla, sans-serif;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}
.main-style{
  @apply  h-full bg-[#f5f5f5] rounded-xl flex flex-col justify-evenly items-center ;
}

.title{
  font-size: 40px;
  margin: 0;
}

.instructions{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  padding: 1px 1rem;
}

.die_container{
  @apply grid grid-rows-2 grid-cols-5 
  w-full h-1/2 py-4 px-6 justify-center items-center 
  gap-3.5 mb-[4px]
}

.die-button{
  @apply h-[50px] w-[50px] shadow-md rounded-md bg-white 
  flex justify-center items-center font-extrabold text-2xl cursor-pointer
  active:translate-y-1 ;
}

.die-button,
.roll_dice_button{
  font-family: Karla, sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* time stop: 11:53:10 */